@import '../styles/general';

.datetime-day {
    text-align: center;
    cursor: pointer;
}
    .datetime-day__content {
        .clickable();

        border: 2px solid transparent;
        padding: 0 3px;
        background-color: transparent;
    }
        .datetime-day__content_current {
            border-color: @hover-color;

            &.datetime-day__content_selected {
                border-color: darken(@hover-color, 15%);
            }
        }
        .datetime-day__content_selected {
            background-color: @hover-color;
        }
        .datetime-day__content_faded {
            color: fade(@text-color, 35%);
        }
        .datetime-day__content_disabled {
            color: fade(@text-color, 15%);
            cursor: not-allowed;

            &:hover {
                background: transparent;
            }
        }
