@import '../styles/general';

.datetime-title-controller {
    .datetime-table();
}

.datetime-title-controller-change-month {
    .clickable();

    padding: 15px;
    position: relative;

    &::after {
        position: absolute;
        top: 20%;
        left: 43%;
    }
}
    .datetime-title-controller-change-month_backward {
        &::after {
            content: '‹';
        }
    }
    .datetime-title-controller-change-month_forward {
        &::after {
            content: '›';
        }
    }

.datetime-title-controller-title {
    font-weight: normal;
}
    .datetime-title-controller-title_clickable {
        .clickable();
    }
